

body {
  font-size: 16px;
  /*background-image: url("../img/background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; /* фиксирует фон.. */
  display: flex;
  justify-content: center;

}

.main-content {
  width: 60rem; /* 960px */
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  margin-top: 2rem;
}

header {
  display: flex;
  align-items: center;
  font-family: 'Amatic SC', cursive;

  border-radius: 8px;
  border: 2px solid pink;
  margin-bottom: 0.5rem;
}

header img {
  margin: 1rem;
}

header ul {
  margin-top: 1.5rem;
}

header ul li:first-child {
    font-size: 6rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}

header ul li:last-child {
  font-size: 2.4rem;
  font-weight: bold;
}

.menu {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.menu .main-menu {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  border: 2px solid pink;
}

.menu .main-menu ul {
  margin: 1rem 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.menu .main-menu ul li {
  text-align: center;
  margin: 0 1rem;
  padding: 0.1rem;
}

.menu .main-menu ul li a {
  color: black;
  text-decoration: none;
  color: MediumVioletRed;
  padding: 0.125rem;
}

.menu .main-menu ul li a:hover {
  border-top: 1px solid MediumVioletRed;
  border-bottom: 1px solid MediumVioletRed;
}

.menu .sub-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid pink;
  margin-top: 0.5rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.menu .sub-menu h3 {
  text-align: center;
  margin-top: 1rem;
  color: MediumVioletRed;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu .sub-menu .divide {
  display: flex;
  justify-content: center;
}

.menu .sub-menu ul {
  margin: 1rem 1rem;
  font-size: 1.2rem;
}

.menu .sub-menu ul li {
  margin: 0 1rem;
  padding: 0.3rem;
}

.menu .sub-menu ul li a {
  color: black;
  text-decoration: none;
  color: MediumVioletRed;
  padding: 0.125rem;
}

.menu .sub-menu ul li a:hover {
  border-top: 1px solid MediumVioletRed;
  border-bottom: 1px solid MediumVioletRed;
}

/* footer menu */
.footer-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid pink;
  margin-top: 0.5rem;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


.footer-menu h3 {
  text-align: center;
  margin-top: 1rem;
  color: MediumVioletRed;
  font-size: 1.4rem;
  font-weight: bold;
}

.footer-menu .divide {
  display: flex;
  justify-content: center;
}

.footer-menu ul {
  margin: 2rem 0;
  font-size: 1.2rem;
}

.footer-menu ul li {
  margin: 0 1rem;
  padding: 0.3rem 0;
}

.footer-menu ul li a {
  color: black;
  text-decoration: none;
  color: MediumVioletRed;
  padding: 0.125rem;
}

.footer-menu ul li a:hover {
  border-top: 1px solid MediumVioletRed;
  border-bottom: 1px solid MediumVioletRed;
}

/* основной контент */
.content {
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 2px solid pink;
}

.content h4 {
  font-family: 'Neucha', cursive;
  margin-left: 4rem;
  font-size: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.content h5 {
  font-family: 'Neucha', cursive;
  font-weight: bold;
  margin-left: 4rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  text-align: center;
}

.content ul {
  font-family: 'Open Sans', sans-serif;
  margin: 2rem 4rem;
}

.content ul li span {
  padding-top: 1rem;
  font-family: 'Neucha', cursive;
  font-size: 1.3rem;
}

.content ul li:first-child {
  line-height: 1.4;
}

.content ul li:last-child {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}


/* Footer */
footer {
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 2px solid pink;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer h3 {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;

}
footer .divide {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

footer .divide ul {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-right: 2rem;
}

footer .divide ul li {
  font-size:  1.1rem;
  padding-top: 0.25rem;

}

footer .divide ul li span {
  font-weight: bold;
}
